# Dependências e Builds locais
node_modules
dist
build
coverage

# Git
.git
.gitignore

# Arquivos de Ambiente e Segredos (CRÍTICO para o Sonar)
.env*
*.local
npm-debug.log*
pnpm-debug.log*
docker-compose*
Dockerfile*
README.md
sonar-project.properties